<footer>
    <div>
        <div style="margin-top: auto;">
            <div style="background: #F1F1F1 0% 0% no-repeat padding-box; border-radius: 22px;">
                <div style="padding: 20px">
                    <p
                        style="font-weight: 100; font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #8F91A4; text-align: center; line-height: 1.8">
                        We wish you & your family a very healthy and prosperous life with our commitment to
                        enable your goals.</p>
                </div>
                <div style="background: transparent linear-gradient(90deg, var(--unnamed-color-2bad90) 0%, var(--unnamed-color-00489a) 100%) 0% 0% no-repeat padding-box;
                            background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                            opacity: 1;height: 70px; color: white; width: 100%; padding: 1px 0 15px 0;">
                    <p
                        style="text-align: center; font-size: 24px;  line-height: 48px; font-family: Verdana; font-weight: 100; ">
                        "PennyWise app is best app for efficient budget management!"</p>
                </div>
                <div style="padding: 20px;">
                    <p style=" font-weight: Bold; font-size: 20px ; font-family: Verdana;
                            height: 50px; text-align: center; color: #4C4C51; line-height: 1.6; ">Privacy built in
                        your Data encrypted everywhere.Safe,secure and reminders,notifications and alarms also.
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>