<header>
    <div style="background: transparent linear-gradient(90deg, var(--unnamed-color-2bad90) 0%, var(--unnamed-color-00489a) 100%) 0% 0% no-repeat padding-box;
                background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                opacity: 1;height: 70px; color: white; width: 100%; text-align: center; padding: 1px 0 15px 0;">
        <h1>PhishSentinel</h1>
    </div>
</header>